/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 6 de jun. de 2024, 15:48:54
    Author     : barbo
*/
@charset "UTF-8";

*{
    font-family: arial, helvetica, sans-serif;
}


body{
    background-image: linear-gradient(to right, #f1d8c9, #f2c3a7 );
}
main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    box-shadow: 5px 5px 15px rgba(136,109,93,0.616);
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    color: #f39209 ;
    text-shadow: 1px 1px 2px black;
}
h2{
    color:#125189;
}
p{
    text-align: justify;
}
